<div class="row tile">
    <div class="col-md-6 col-md-auto">
        <div>
            <h3 class="tile-title">添加</h3>
            <div class="tile-body">
                <form>
                    <input type="hidden" name="vkey" value="{{.vkey}}">
                    <div class="form-group">
                        <label class="control-label">域名</label>
                        <input class="form-control" type="text" name="host" placeholder="域名">
                    </div>
                    <div class="form-group">
                        <label class="control-label">内网目标</label>
                        <input class="form-control" type="text" name="target" placeholder="内网隧道目标，例如10.1.50.203:22">
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                &nbsp;&nbsp;<button class="btn btn-success" href="#" id="add"><i
                    class="fa fa-fw fa-lg fa-eye"></i>添加
            </button>
            </div>
        </div>
    </div>
</div>
</main>
<script>
    $(function () {
        $("#add").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/index/addhost",
                data: $("form").serializeArray(),
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        history.back(-1)
                    }
                }
            })
        })
    })
</script>