<div class="row">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title">添加客户端</h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group" id="remark">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="remark" placeholder="空意味着不受限制">
                        </div>
                    </div>

                    <div class="form-group" id="flow_limit">
                        <label class="col-sm-2 control-label">流量限制</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="flow_limit"
                                   placeholder="空意味着不受限制">
                            <span class="help-block m-b-none">单位: M</span>
                        </div>
                    </div>

                    <div class="form-group" id="rate_limit">
                        <label class="control-label col-sm-2">带宽限制</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="rate_limit"
                                   placeholder="空意味着不受限制">
                            <span class="help-block m-b-none">单位: KB/S</span>
                        </div>
                    </div>
                    <div class="form-group" id="max_conn">
                        <label class="control-label col-sm-2">最大客户端连接数</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="max_conn"
                                   placeholder="空意味着不受限制">
                        </div>
                    </div>
                    <div class="form-group" id="u">
                        <label class="control-label col-sm-2">验证用户名</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="u" placeholder="空意味着不受限制">
                            <span class="help-block m-b-none">仅限socks5、web、http转发代理</span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label col-sm-2">验证密码</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="p" placeholder="空意味着不受限制">
                            <span class="help-block m-b-none">仅限socks5、web、http转发代理</span>
                        </div>
                    </div>
                    <div class="form-group" id="vkey">
                        <label class="control-label col-sm-2">客户端连接密钥</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="vkey" placeholder="空意味着不受限制">
                            <span class="help-block m-b-none">唯一、不填将会自动生成</span>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label col-sm-2">数据压缩方式</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="compress">
                                <option value="0">不压缩</option>
                                <option value="1">压缩</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label col-sm-2">是否加密传输</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="crypt">
                                <option value="0">不加密</option>
                                <option value="1">加密</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-success" href="#" id="add"><i
                                    class="fa fa-fw fa-lg fa-eye"></i>添加
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#add").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/client/add",
                data: $("form").serializeArray(),
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        history.back(-1)
                    }
                }
            })
        })
    })
</script>