<div class="row">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title" langtag="page-clientedit"></h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input type="hidden" name="id" value="{{.c.Id}}">
                    <div class="form-group" id="remark">
                        <label class="control-label font-bold" langtag="word-remark"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Remark}}" type="text" name="remark" placeholder=""  langtag="word-remark">
                        </div>
                    </div>
                {{if eq true .isAdmin}}
                {{if eq true .allow_flow_limit}}
                    <div class="form-group" id="flow_limit">
                        <label class="control-label font-bold" langtag="word-flowlimit"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Flow.FlowLimit}}" type="text" name="flow_limit" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: M
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_rate_limit}}

                    <div class="form-group" id="rate_limit">
                        <label class="control-label font-bold" langtag="word-ratelimit"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.RateLimit}}" type="text" name="rate_limit" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="word-unit"></span>: KB/S
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_connection_num_limit}}

                    <div class="form-group" id="max_conn">
                        <label class="control-label font-bold" langtag="word-maxconnections"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.MaxConn}}" type="text" name="max_conn" placeholder="" langtag="info-unrestricted">
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_tunnel_num_limit}}
                    <div class="form-group" id="max_tunnel">
                        <label class="control-label font-bold" langtag="word-maxtunnels"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.MaxTunnelNum}}" type="text" name="max_tunnel" placeholder="" langtag="info-unrestricted">
                        </div>
                    </div>
                {{end}}
                {{end}}
                    <div class="form-group" id="u">
                        <label class="control-label font-bold" langtag="word-basicusername"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.U}}" type="text" name="u" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label font-bold" langtag="word-basicpassword"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.P}}" type="text" name="p" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="info-onlyproxy"></span>
                        </div>
                    </div>
                {{if eq true .isAdmin}}
                    <div class="form-group" id="vkey">
                        <label class="control-label font-bold" langtag="word-verifyKey"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.VerifyKey}}" type="text" name="vkey" placeholder="" langtag="info-unrestricted">
                            <span class="help-block m-b-none" langtag="info-autogenerated"></span>
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_user_login}}
                {{if or (eq true .allow_user_change_username) (eq true .isAdmin)}}
                    <div class="form-group" id="web_username">
                        <label class="control-label font-bold" langtag="word-webusername"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.WebUserName}}" type="text" name="web_username" placeholder="" langtag="info-unrestricted">
                        </div>
                    </div>
                {{end}}
                    <div class="form-group" id="web_password">
                        <label class="control-label font-bold" langtag="word-webpassword"></label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.WebPassword}}" type="text" name="web_password" placeholder="" langtag="info-unrestricted">
                        </div>
                    </div>
                {{end}}
                    <div class="form-group" id="config_conn_allow">
                        <label class="control-label font-bold" langtag="word-connectbyconfig"></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="config_conn_allow">
                                <option {{if eq true .c.ConfigConnAllow}}selected{{end}}  value="1" langtag="word-yes"></option>
                                <option {{if eq false .c.ConfigConnAllow}}selected{{end}} value="0" langtag="word-no"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label font-bold" langtag="word-compress"></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="compress">
                                <option {{if eq false .c.Cnf.Compress}}selected{{end}} value="0" langtag="word-no"></option>
                                <option {{if eq true .c.Cnf.Compress}}selected{{end}}  value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label font-bold" langtag="word-crypt"></label>
                        <div class="col-sm-10">
                            <select class="form-control" name="crypt">
                                <option {{if eq false .c.Cnf.Crypt}}selected{{end}} value="0" langtag="word-no"></option>
                                <option {{if eq true .c.Cnf.Crypt}}selected{{end}} value="1" langtag="word-yes"></option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-success" type="button" onclick="submitform('add', '{{.web_base_url}}/client/edit', $('form').serializeArray())"> <i
                                    class="fa fa-fw fa-lg fa-save"></i><span langtag="word-save"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
