<div class="row tile">
    <div class="col-md-6 col-md-auto">
        <div>
            <h3 class="tile-title">添加</h3>
            <div class="tile-body">
                <form>
                    <input type="hidden" name="Id" value="{{.c.Id}}">
                    <div class="form-group" id="target">
                        <label class="control-label">备注</label>
                        <input class="form-control" value="{{.c.Remark}}" type="text" name="remark" placeholder="客户端备注">
                    </div>
                    <div class="form-group" id="flow_limit">
                        <label class="control-label">流量限制(单位：M，为空不限制)</label>
                        <input class="form-control" value="{{.c.Flow.FlowLimit}}" type="text" name="flow_limit"
                               placeholder="为空不限制">
                    </div>
                    <div class="form-group" id="rate_limit">
                        <label class="control-label">速度限制(单位：KB，为空不限制)</label>
                        <input class="form-control" value="{{.c.RateLimit}}" type="text" name="rate_limit"
                               placeholder="为空不限制">
                    </div>
                    <div class="form-group" id="u">
                        <label class="control-label">验证用户名(仅socks5,web穿透支持)</label>
                        <input class="form-control" value="{{.c.Cnf.U}}" type="text" name="u"
                               placeholder="不填则无需验证">
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label">验证密码(仅socks5,web穿透支持)</label>
                        <input class="form-control" value="{{.c.Cnf.P}}" type="text" name="p"
                               placeholder="不填则无需验证">
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label">数据压缩方式(所有模式均支持)</label>
                        <select class="form-control" name="compress">
                            <option {{if eq "" .c.Cnf.Compress}}selected{{end}} value="">不压缩</option>
                            <option {{if eq "snappy" .c.Cnf.Compress}}selected{{end}} value="snappy">snappy压缩</option>
                        </select>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label">是否加密传输(所有模式均支持)</label>
                        <select class="form-control" name="crypt">
                            <option {{if eq false .c.Cnf.Crypt}}selected{{end}} value="0">不加密</option>
                            <option {{if eq  true .c.Cnf.Crypt}}selected{{end}} value="1">加密</option>
                        </select>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label">是否启用TCP复用(所有模式均支持)</label>
                        <select class="form-control" name="mux">
                            <option {{if eq false .c.Cnf.Mux}}selected{{end}} value="0">不启用</option>
                            <option {{if eq  true .c.Cnf.Mux}}selected{{end}} value="1">启用</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="tile-footer">
                &nbsp;&nbsp;<button class="btn btn-success" href="#" id="add"><i
                    class="fa fa-fw fa-lg fa-eye"></i>保存
            </button>
            </div>
        </div>
    </div>
</div>
</main>
<script>

    $(function () {
        $("#add").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/client/edit",
                data: $("form").serializeArray(),
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        history.back(-1)
                    }
                }
            })
        })
    })
</script>