<div class="row">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title">add client</h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <input type="hidden" name="id" value="{{.c.Id}}">
                    <div class="form-group" id="remark">
                        <label class="col-sm-2 control-label" langtag="info-remark">备注</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Remark}}" type="text" name="remark"
                                   placeholder="remark">
                        </div>
                    </div>
                {{if eq true .isAdmin}}
                {{if eq true .allow_flow_limit}}
                    <div class="form-group" id="flow_limit">
                        <label class="col-sm-2 control-label" langtag="info-flow-limit">流量限制</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Flow.FlowLimit}}" type="text" name="flow_limit"
                                   placeholder="empty means to be unrestricted">
                            <span class="help-block m-b-none">unit: M</span>
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_rate_limit}}

                    <div class="form-group" id="rate_limit">
                        <label class="control-label col-sm-2" langtag="info-bandwidth">带宽限制</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.RateLimit}}" type="text" name="rate_limit"
                                   placeholder="empty means to be unrestricted">
                            <span class="help-block m-b-none">unit: KB/S</span>
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_connection_num_limit}}

                    <div class="form-group" id="max_conn">
                        <label class="control-label col-sm-2" langtag="info-max-conn-num">客户端最大连接数</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.MaxConn}}" type="text" name="max_conn"
                                   placeholder="empty means to be unrestricted">
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_tunnel_num_limit}}
                    <div class="form-group" id="max_tunnel">
                        <label class="control-label col-sm-2" langtag="info-max-tunnel-num">客户端最大隧道数量</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.MaxTunnelNum}}" type="text" name="max_tunnel"
                                   placeholder="empty means to be unrestricted">
                        </div>
                    </div>
                {{end}}
                {{end}}
                    <div class="form-group" id="u">
                        <label class="control-label col-sm-2" langtag="info-web-auth-username">basic权限认证用户名</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.U}}" type="text" name="u"
                                   placeholder="empty means to be unrestricted">
                            <span class="help-block m-b-none">only socks5 , web, HTTP forward proxy </span>
                        </div>
                    </div>
                    <div class="form-group" id="p">
                        <label class="control-label col-sm-2" langtag="info-web-auth-password">basic权限认证密码 </label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.Cnf.P}}" type="text" name="p"
                                   placeholder="empty means to be unrestricted">
                            <span class="help-block m-b-none">only socks5 , web, HTTP forward proxy </span>
                        </div>
                    </div>
                {{if eq true .isAdmin}}
                    <div class="form-group" id="vkey">
                        <label class="control-label col-sm-2" langtag="info-client-vkey">客户端验证密钥</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.VerifyKey}}" type="text" name="vkey"
                                   placeholder="empty means to be unrestricted">
                            <span class="help-block m-b-none">unique, non-filling will be generated automatically</span>
                        </div>
                    </div>
                {{end}}
                {{if eq true .allow_user_login}}
                {{if or (eq true .allow_user_change_username) (eq true .isAdmin)}}
                    <div class="form-group" id="web_username">
                        <label class="control-label col-sm-2" langtag="info-client-web-username">web登陆用户名</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.WebUserName}}" type="text" name="web_username"
                                   placeholder="empty means to be unrestricted">
                        </div>
                    </div>
                {{end}}
                    <div class="form-group" id="web_password">
                        <label class="control-label col-sm-2" langtag="info-client-web-password">web登陆密码</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="{{.c.WebPassword}}" type="text" name="web_password"
                                   placeholder="empty means to be unrestricted">
                        </div>
                    </div>
                {{end}}
                    <div class="form-group" id="config_conn_allow">
                        <label class="control-label col-sm-2" langtag="info-config-conn-allow">是否允许客户端以配置文件模式连接</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="config_conn_allow">
                                <option {{if eq true .c.ConfigConnAllow}}selected{{end}}  value="1">yes</option>
                                <option {{if eq false .c.ConfigConnAllow}}selected{{end}} value="0">no</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label col-sm-2" langtag="info-compress">压缩</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="compress">
                                <option {{if eq false .c.Cnf.Compress}}selected{{end}} value="0">no</option>
                                <option {{if eq true .c.Cnf.Compress}}selected{{end}}  value="1">yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="compress">
                        <label class="control-label col-sm-2" langtag="info-crypt">加密</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="crypt">
                                <option {{if eq false .c.Cnf.Crypt}}selected{{end}} value="0">no</option>
                                <option {{if eq true .c.Cnf.Crypt}}selected{{end}} value="1">yes</option>
                            </select>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-success" href="#" id="add"><i
                                    class="fa fa-fw fa-lg fa-eye"></i><span langtag="info-save">保存</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $("#add").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/client/edit",
                data: $("form").serializeArray(),
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        history.back(-1)
                    }
                }
            })
        })
    })
</script>