<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>nps admin 登录</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="loginColumns animated fadeInDown">
    <div class="row">


        <div class="col-md-offset-3 col-md-6">
            <h2 class="font-bold">nps</h2>

            <p>
                一个实用的代理服务器
            </p>

            <p>
                利用它，可以穿透内部网TCP、UDP、SOCKS5、HTTP、P2P等
            </p>

            <p>
                更多?
            </p>

            <p>
                请访问 <a href="//github.com/cnlh/nps">nps</a>
            </p>
            <div class="ibox-content">
                <form class="m-t" onsubmit="return false">
                    <div class="form-group">
                        <input name="username" class="form-control" placeholder="用户名" required="">
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="密码" required="">
                    </div>
                    <button onclick="login()" class="btn btn-primary block full-width m-b">登录</button>
                </form>
            </div>
        </div>
    </div>
    <hr/>
</div>

</body>
<script src="/static/js/jquery-2.1.1.js"></script>
</html>


<script type="text/javascript">
    // Login Page Flipbox control
    function login() {
        $.ajax({
            type: "POST",
            url: "/login/verify",
            data: $("form").serializeArray(),
            success: function (res) {
                if (res.status) {
                    window.location.href = "/index/index"
                } else {
                    alert(res.msg)
                }
            }
        })
        return false
    }
</script>
</body>
</html>