<div class="row tile">
    <div class="col-md-12 col-md-auto">
        <div class="ibox float-e-margins">
            <h3 class="ibox-title">添加主机</h3>
            <div class="ibox-content">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="remark" placeholder="备注">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">域名</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="host" placeholder="例如: a.proxy.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">URL路由(可忽略)</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" name="location"
                                   placeholder="空意味着不受限制">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">客户端ID</label>
                        <div class="col-sm-10">
                            <input value="{{.client_id}}" class="form-control" type="text" name="client_id"
                                   placeholder="客户端ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内网目标(ip:端口)</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="4" type="text" name="target"
                                  placeholder="例如: 
10.1.50.203:80
10.1.50.202:80"></textarea>
                            <span class="help-block m-b-none">负载平衡时换行</span>

                        </div>
                    </div>
                    <div class="form-group" id="header">
                        <label class="col-sm-2 control-label">header头修改</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" rows="4" type="text" name="header"
                                  placeholder="Cache-Control: no-cache"></textarea>
                            <span class="help-block m-b-none">冒号分隔，多个请换行填写</span>
                        </div>

                    </div>
                    <div class="form-group" id="hostchange">
                        <label class="col-sm-2 control-label">host修改</label>
                        <div class="col-sm-10">
                            <input class="form-control" value="" type="text" name="hostchange"
                                   placeholder="host修改">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            &nbsp;<button class="btn btn-success" href="#" id="add"><i
                                class="fa fa-fw fa-lg fa-eye"></i>添加
                        </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#add").on("click", function () {
            $.ajax({
                type: "POST",
                url: "/index/addhost",
                data: $("form").serializeArray(),
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        history.back(-1)
                    }
                }
            })
        })
    })
</script>