<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-body">
                <table class="table table-hover table-bordered" id="sampleTable">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>客户端id</th>
                        <th>备注</th>
                        <th>host</th>
                        <th>内网目标</th>
                        <th>host改写</th>
                        <th>压缩方式</th>
                        <th>加密</th>
                        <th>用户名</th>
                        <th>密码</th>
                        <th>出口流量</th>
                        <th>入口流量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</main>

<script type="text/javascript">
    function del(id) {
        if (confirm("确定要删除数据吗？")) {
            $.ajax({
                type: "POST",
                url: "/index/delhost",
                data: {"id": id},
                success: function (res) {
                    alert(res.msg)
                    if (res.status) {
                        document.location.reload();
                    }
                }
            })
        }
    }

    function add() {
        window.location.href = "/index/addhost?vkey={{.task_id}}&client_id={{.client_id}}"
    }

    function edit(id) {
        window.location.href = "/index/edithost?id=" + id
    }

    $(document).ready(function () {
        var table = $('#sampleTable').DataTable({
            responsive: {
                details: {
                    display: $.fn.dataTable.Responsive.display.childRowImmediate
                }
            },
            dom: 'Bfrtip',
            processing: true,
            serverSide: true,
            autoWidth: false,
            ordering: false,
            ajax: {
                url: window.location,
                type: 'POST'
            },
            dom: '<"top"fl><"toolbar">rt<"bottom"ip><"clear">',
            columns: [　//这个是显示到界面上的个数据　格式为 {data:'显示的字段名'}
                {data: 'Id'},
                {data: 'Remark'},
                {data: 'Remark'},
                {data: 'Host'},
                {data: 'Target'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'HostChange'},
                {data: 'Target'},
            ],
            bFilter: false,
            columnDefs: [{
                targets: -1,
                render: function (data, type, row, meta) {

                    return '<div class="btn-group" role="group" aria-label="..."> ' +
                            '<button onclick="del(\'' + row.Id + '\')" type="button"   class="btn btn-danger btn-sm">删除</button>' +
                            '<button onclick="edit(\'' + row.Id + '\')" type="button"   class="btn btn-primary btn-sm">编辑查看</button> '
                            + ' </div>'
                }
            },
                {
                    targets: 1,
                    render: function (data, type, row, meta) {
                        return row.Client.Id
                    }
                },
                {
                    targets: -2,
                    render: function (data, type, row, meta) {
                        return change(row.Flow.InletFlow)
                    }
                },
                {
                    targets: -3,
                    render: function (data, type, row, meta) {
                        return change(row.Flow.ExportFlow)
                    }
                },
                {
                    targets: -4,
                    render: function (data, type, row, meta) {
                        return row.Client.Cnf.P
                    }
                },
                {
                    targets: -5,
                    render: function (data, type, row, meta) {
                        return row.Client.Cnf.U
                    }
                }
                ,
                {
                    targets: -6,
                    render: function (data, type, row, meta) {
                        if (row.Client.Cnf.Crypt == "0") {
                            return "不加密"
                        } else {
                            return "加密"
                        }
                    }
                }
                ,
                {
                    targets: -7,
                    render: function (data, type, row, meta) {
                        return row.Client.Cnf.Compress
                    }
                }
            ],
            buttons: []
        });
        $("#sampleTable_length").html('<button class="btn btn-primary" onclick="add()" type="button">新增</button>')
    })
    ;


</script>
